.login-info-left, .login-info-middle, .menu, .right, .login-info-right {
	display: none;
}

.form-title:has(.small), .form-title:has(.small) + * {
	display: none;
}

#relationships_open, #upload_form_open, #bugnote_add_open {
	display: none;
}

td[colspan="6"] {
	display: none;
}

#monitors br {
	display: none;
}

#bugnotes span.small:has(a) {
	display: none;
}

.form-title a {
	display: none;
}

address, a[href="http://www.mantisbt.org/"] {
	display: none;
}

a.small, a[target="_blank"] {
	display:none;
}

